body
{
	background-color: white;
	margin: 0 !important; 
}
h1
{
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	letter-spacing: 7px;
	font-weight: 300;
	color:#efeff0;
	text-shadow: black 0.1em 0.1em 0.2em;
	display: block;
	margin-left: 50px;
}
h2
{
	font-family: 'Lato', sans-serif;
	color: #00153c;
	font-size: 30px;
	font-weight: 400;
	text-shadow: white 0.1em 0.1em 0.2em;
	
}
h3{
	font-family: 'Lato', sans-serif;
	color: #023d7d;
	font-size: 20px;
	font-weight: 400;
}
.heading{
	height: 100px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	background: linear-gradient(0deg, #00153c, #023d7de1);
}

.icon
{
	filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
	height: 60%;
}

.add{
	display: flex;
	margin-top: 20px;
}

.form{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: #00153cf5;
	border-radius: 30px;
	padding: 20px;
	padding-top: 0;
}
.label{
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: 100;
	
}
input{
	background-color: #f9fafac2;
	border: none;
	border-radius: 2px;
	width: 50%;
}
.labelSelect{
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: 100;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}
 .select{
	background-color: #f9fafac2;
	color: black;
	border-radius: 2px;
	width: 50%;
 }
.submit {
	display: block;
    margin-top: 30px;
    margin-bottom: auto;
	margin-right: auto; 
  }


.button {background-image: linear-gradient(to right, #023d7dee 0%, #00153c  51%, #023d7dee  100%)}
.button {
	width: 150px;
	height: 40px;
	font-size: 13px;
	letter-spacing: 2px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    border: none;
    display: block;
    margin-top: 56px;
 }

 .button:hover {
   background-position: right center;  
   color: #fff;
   text-decoration: none;
 } 


#oneBook{
	text-align:center;
	background: #abaeaf77;
	border-radius: 5%;
	height: 5%;
	width: 40%;
	margin: 10px;
}
#bookList{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 40px;
}